body {
	background-color: lightblue;
}

div {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    width: 50px;

}

#display {
	height: 50px;
	width: 200px;
	text-align: center;
}

.row {
	display: flex;
	height: 50px;
	width: 200px;
	cursor: pointer;

}


.row > div {
	background-color: yellow;
}