body {
  background-color: #CCFFED
}
h1 {
  margin-left: auto;
  margin-right: auto;
  color: #19B28F;
  font-family: 'Bungee Shade', cursive;, cursive;
  text-align: center;
  font-size: 70px;
}

#calc {
  /* horizonatally center a block level element in its parent */
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 600px;
  background-color: #3C5052;
  overflow: auto;
  border-radius: 5px;
}

#display {
  height: 25%;
  width: 90%;
  background-color: #CDFFF9;
  color: #FF530D;
  border: 2px solid #B4EFF2;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 70px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.keypad {
  margin-left: auto;
  margin-right: auto;
  height: 65%;
  width: 90%;
  background-color: #5D7B7D;
  border: 1px solid grey;
  border-radius: 10px;
}

.num, .operations {
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #36727F;
  border: 1px solid #B4EFF2;
  border-radius: 25px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
}

#clear, #equals {
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #36727F;
  border: 1px solid #B4EFF2;
  border-radius: 25px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
}
